.instruction-headings {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.instructions-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input[type=text], select, textarea {
  width: 80%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  resize: none !important; 
}

input[type=text]:focus, select:focus, textarea:focus {
  background-color: #f2f2f2;
}

.token-input-container {
    display: flex;
    justify-content: center;
}

.token-button-container {
    display: flex;
    justify-content: flex-end;
}

.token-button {
    margin-top: 20px;
    display: flex;
    color: #bb8a2d;
    background-color: #811d25;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.token-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #bb8a2d;
    border-bottom: 2px solid #bb8a2d;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.token-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.token-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.token-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.token-button:hover {
    background-color: #ddc6a5;
    color: #a05056;
}